<ul>
    {{#each Article}}
        <li>
            Title: 
            {{this.title}}
            <br>
            Link: 
            {{this.link}}
        
        </li>
       
            
    {{/each}}
</ul>
    